<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/form-page.css">

  <title><%= title %></title>
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <main>
    <div>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <ellipse cx="12" cy="5" rx="9" ry="3" />
          <path d="M3 5V19A9 3 0 0 0 15 21.84" />
          <path d="M21 5V8" />
          <path d="M21 12L18 17H22L19 22" />
          <path d="M3 12A9 3 0 0 0 14.59 14.87" />
        </svg>
        FileBase
      </span>

      <% if (locals.successMessages && successMessages.length) { %>
        <section class="success">
          <% successMessages.forEach(message => { %>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10" />
                <path d="m9 12 2 2 4-4" />
              </svg>
              <%= message %>
            </div>
          <% }); %>
        </section>
      <% } %>

      <% if (locals.errorMessages && errorMessages.length) { %>
        <section class="error">
          <% errorMessages.forEach(message => { %>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10" />
                <line x1="12" x2="12" y1="8" y2="12" />
                <line x1="12" x2="12.01" y1="16" y2="16" />
              </svg>
              <%= message %>
            </div>
          <% }); %>
        </section>
      <% } %>

      <% if (type === "sign-in") { %>
        <p>Sign In</p>
        <p>
          Don't have an account yet? <a href="/sign-up">Sign Up</a>
        </p>
      <% } else if (type === "sign-up") { %>
        <p>Sign Up</p>
        <p>
          Already have an account? <a href="/sign-in">Sign In</a>
        </p>
      <% } %>

      <form action="<%= actionRoute %>" method="POST">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required autofocus value="<%= locals.defaults?.username || "" %>">
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
        </div>

        <% if (type === "sign-up") { %>
          <div>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirm-password" required>
          </div>
        <% } %>

        <button type="submit">
          <%= type === "sign-in" ? "Sign In" : "Sign Up" %>
        </button>
      </form>
    </div>
  </main>

  <script>
    window.history.pushState({}, document.title, window.location.pathname);
  </script>
</body>

</html>
